html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1b262c;
}

@media (max-width: 1000px) {
  button {
    width: 70vw;
  }
}
@media (max-width: 800px) {
  button {
    width: 75vw;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.divStyles {
  display: flex;
}

.logoImageStyles {
  width: 120px;
  height: 120px;
  opacity: 100%;
}
.logoflexStyles {
  margin-right: 230px;
}
.headerDiv {
  display: flex;
  justify-content: space-around;
  padding-left: 1.5rem;
  align-items: center;
  position: fixed;
  height: 160px;
  background-color: #1b262c;
  width: 100%;
  background: cover;
  color: white;
  padding: 20px;
  z-index: 10;
  opacity: 80%;
}

.navFlexStyles {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.cartStyles {
  width: 50px;
  height: 50px;
  margin-right: 40px;
  padding: 60px 10px;
  padding-bottom: 0;
}
/* :hover {
  color: white;
  cursor: pointer;
  color: inherit;
} */

.moodImageStyles {
  width: 100%;
  height: 500px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 100px;
  opacity: 0.8;
  margin-top: 250px;
}

main {
  background-color: #1b262c;
  color: white;
  padding: 20px;
  justify-items: center;
}

.mainImageStyles {
  width: 300px;
  height: 300px;
  margin: 30px;
  margin-left: 100px;
}

.imageContainer {
  display: flex;
  position: absolute;
  text-justify: center;
  gap: 20px;
  justify-content: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-justify: center;
}

.individualProductStyles {
  grid-area: 1 / 1 / 2 / 1;
  display: grid;
}

.productImageStyles {
  width: 250px;
  height: 250px;
}

.albumStyles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 80px;
  margin-right: 80px;
  gap: 80px 40px;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  font-weight: lighter;
  text-align: center;
  color: mintcream;
}

.artistStyles {
  font-weight: bold;
  font-size: 30px;
}

.buttonStyles {
  border-radius: 3px;
  color: white;
  background-color: #18a2cb;
  border: 0;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  width: 150px;
  margin-bottom: 50px;
}
.buttonFlexStyles {
  display: flex;
  justify-content: space-around;
}

footer {
  padding: 20px;
  background: cover;
  background-color: #1b262c;
  color: mintcream;
  font-weight: lighter;
  font-size: 12px;
  display: grid;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20vh;
  padding-bottom: 20px;
}

.footerStyles {
  margin: 25vh;
  display: flex;
}

h2 {
  font-weight: bold;
  font-size: 11px;
}

h1 {
  margin-top: 200px;
  text-align: center;
}

p {
  text-align: center;
  margin: 10px;
}

.footerRowStyles {
  display: grid;
  margin: 60px;
  text-align: center;
}

.iconstyles {
  display: grid;
  align-content: center;
}

.socialMediaStyles {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  text-align: center;
}

.checkoutStyles {
  width: 500px;
  height: 800px;
  background-color: mintcream;
  color: #1b262c;
  text-align: center;
  border-radius: 2px;
  justify-content: center;
}

.checkoutPageStyles {
  justify-content: center;
}
.checkoutGrid {
  display: flex;
  justify-content: space-around;
}

.aboutUsImageStyles {
  display: flex;
}

.aboutPageImageStyles {
  width: 400px;
  height: 600px;
  margin-top: 250px;
  opacity: 0.8;
  margin-left: 50px;
}
.aboutUsTextStyles {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0px;
  padding: 10px;
  line-height: 2.2;
  color: mintcream;
  font-size: 13px;
}
.productSelectStyles {
  margin-top: 250px;
}

.productNotFoundPage {
  color: mintcream;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  margin-top: 250px;
  padding: 30px;
}
.cartImageStyles {
  width: 120px;
  height: 120px;
  margin-top: 30px;
}

.cartLayoutStyles {
  display: flex;
  justify-content: space-around;
  line-height: 2.2;
}
.dynamicPageImageStyles {
  width: 400px;
  height: 400px;
}
.productListsImagesStyles {
  display: flex;
  justify-content: space-around;
}
.productListsTextStyles {
  line-height: 2.2;
}
